body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, #ffb699, #bb47ff) fixed;
}

p {
    font-size: 30px;
    font-weight: 700;
    text-align:center;
    background: -webkit-linear-gradient(right, #bb47ff, #ffb699);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div {
    margin: auto;
    max-width: 400px;
    width: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input, textarea, select {
    font-size: 17px;
    width: 100% ;

}

input, textarea, fieldset,select {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.301);
} 

#M, #F {
    width: auto;
}

textarea{
    width:100%;
}

.A {
    width: 70% ;
}

label {
    font-size: 17px;
}

legend {
    padding: 10px;
}
